--- 
layout: default-blog 
permalink: /start-here/ 
title: Start Here, or How to Become an Online Entrepreneur 
---

<div class="container mt-5 post">
  <div class="row">
    <div class="col-12 col-lg-8">

      <h1 class="post-title mt-3 text-secondary mb-5">
        Start Here<br>
      </h1>

      <hr>
      <p class="text-center" style="font-family: Georgia"><em>
        Hi there! Happy you’re here. This is the very first post on JobFreeJourney.com.
      </em>
      </p>
      <p class="text-center" style="font-family: Georgia">
        <em>
          If this is your first visit, this page is the best place to start.
        </em>
      </p>
      <hr>

        <h2 class="start-here">
          The Idea
        </h2>

        <img class="img-fluid" src="{{ site.baseurl }}/img/2017/pic-one.jpeg" alt="The idea and the dream">
        <p class="mt-4">
          <strong>
            I have a simple goal: to become financially free by January 1, 2021. This post goes over how I got to setting this goal.
          </strong>
        </p>
        
        <p>
          Everyone has their financial ups and downs. My own financial strife came in 2007, several months before the world-wide financial collapse. I had a steady job for the previous eight years. Then, suddenly, just like that, I got laid off.
        </p>
        <p>
          The pink slip couldn’t have come at a worse time. I was in a long-term relationship, about to get married. I owned no real estate, and my bank account was empty. Just when I needed a stable paycheck the most, it was gone.
        </p>
        <p>
          I could go into details as to why I allowed myself to get into such a dire financial situation in the first place. But there is really no need for that; suffice it to say, I was not smart with my money. I was spending everything I earned, and I made no
          investments whatsoever. Up to that point, life was a party, and I was about to get a major hangover, that will last for years.
        </p>
        <p>
          After getting fired I asked myself a simple question: Is there any true stability in being employed?
        </p>
        <p>
          I looked around me. I started asking my friends and family this question, and other work-related ones. Things like: Are you happy in your job? Do you think you are under-paid? Would you like to be able to spend more time with friends and family?
        </p>
        <p>
          The answers I got were mostly the same. Almost everyone was at least not satisfied with their job. The more I asked around, the more curious I became about the reasons why most people were unhappy with their professional life.
        </p>
          
        <h2 class="start-here">
          The Understanding
        </h2>
        <img class="img-fluid"src="{{ site.baseurl }}/img/2017/pic-two.jpeg" alt="The awakening">
          
        <p>
          That simple question I had asked my self – the one about job stability – changed a lot of things for me.
        </p>
        <p>
          I started understanding the reason why most people dislike their jobs and what each one of us can do about it.
        </p>
        <p>
          Initially, I thought that people were simply irrational. The “grass is always greener on the other side” kind of thing.
        </p>
        <p>
          But I still wasn’t happy with my own explanation. Trying to understand this part of our everyday life became a sort of a hobby for me. Why are people not happy with such a crucial part of our existence? I talked about it with co-workers, discussed it
          with family when I found the opportunity.
        </p>
        <p>
          Slowly but surely, I came to understand what most people were concerned with. It was the lack of control. Of course! It made perfect sense!
        </p>
        <p>
          It really is simple, when you boil it down. People are scared of the unknown. And not having a say in such an important matter as one’s livelihood is the ultimate unknown, the ultimate lack of control.
        </p>
        <p>
          Truth is, none of us can be sure if that the nice job that we have today, will still be there tomorrow.
        </p>
        <p>
          The company could go bust. We might get too old. We might get too slow. Robots could replace us. We might get fired. A horrible boss could some day replace the great boss we have now. The list is endless.
        </p>
        <p>
          In the end, as far as our jobs are concerned, there are simply too many things out of our control.
        </p>
        <p>
          Once I knew what was the source of the problem, I asked myself the next important question: Can anything be done about it? Is there a way to get some of that control back in our lives?
        </p>
        <p>
          That question ultimately led me on a strange path for the next several years. I kept working in my day job. I am quite happy with what I do and I find great pleasure in my work (if you are curious as to just what is it that I do, I am a self-taught front-end
          web developer).
        </p>
        <p>
          I kept on researching, thinking and learning. Is there a way to get back that stability, to regain control over our professional lives?
        </p>
        <p>
          The obvious answer is a resounding yes. You can start your own business, you can “pursue your passion”, there are a lot of books written on this subject.
        </p>
        <p>
          But is it really the case? Can you really risk everything on an uncertain business adventure? I decided to try to find a better way.
        </p>

        <h2 class="start-here">
          The Realization
        </h2>
        <img class="img-fluid" src="{{ site.baseurl }}/img/2017/pic-three.jpeg" alt="Free to Decide">
        
        <p>
          Now that I knew that I must take back control over my financial well-being, I was stumped. Where to start?
        </p>
        <p>
          I was never really good at saving money. I knew I needed to go the other way: supplement my income.
        </p>
        <p>
          Thus, I decided to learn how to make some money on the side, from the internet. I told myself, “I’m in the IT anyway. I might as well just build on what I already know.”
        </p>
        <p>
          At first, they were a few shy attempts at making a few bucks on the side. However, as time passed by, little by little, I started to build my own income streams.
        </p>
        <p>
          After quite a few failures, my efforts started to pay off. I’ve created 3 separate income streams, that made money steadily. Not a lot, but each month I got a small amount of extra cash.
        </p>
        <p>
          It was a great feeling knowing that I’ll get this recurring income every month; knowing that no matter what, my side hustle will get me that money in the bank, every month.
        </p>
        <p>
          That’s when I finally understood my path. I just needed to keep on creating new income streams. And to strengthen the existing ones. What a great way to regain control!
        </p>
        <p>
          This naturally led me to try new things. I kept on experimenting. I kept on trying to find new ways to make money on the side. For example, one such experiment resulted in me starting this blog.
        </p>
        <p>
          Looking back, I used to ask myself: “Why did it take me so long to have even minor success?”
        </p>
        <p>
          The reason is: I could never afford to go all-in.
        </p>
        <p>
          I always had to hold a day job. To have a side hustle was all I could do. So I kept working on my side gigs and watched them slowly develop. This took me years. Which reminds me of that quote that “Overnight success comes after many years of hard work.”
        </p>
        <p>
          Anyway, over the last several years, I could see that the effort that I had put in, had finally started to pay off. I created a few paid video courses on front-end web development. After that, I wrote a book about front-end web development for a famous
          online publisher. I started a website (not this blog!), to see if it could supplement my income. All of these projects were small excursions into entrepreneurship. None of them, on their own, accounted for a huge financial success.
        </p>
        <p>
          But some success was there. I knew I was going in the right direction.

          <h2 class="start-here">
            Where I’m at Today
          </h2>

        </p>
        <p>
          So, right now, I’m at a cross-roads.
        </p>
        <p>
          I still have a day job. But several years of focused effort have finally gotten me to a situation where: I supplement my salary with the money I make from my several income streams I can count on that extra money (because my income streams are stable)
          Each of these income streams has potential for growth
        </p>
        <p>
          I still have to hold down a day job and work on my side gigs at the same time. But at least I feel empowered in my professional life. I know that if push comes to shove, I have something to keep me afloat. My tiny income streams. It doesn’t matter that
          they are small. Plant an apple tree and it will bear fruit after 3 years of being nurtured. But it will be there.
        </p>
        <p>
          Finally, I can see the road ahead of me very clearly. I know where I needed to go, and I know how to get there.
        </p>
        <p>
          Realizing what I have to do to succeed; having such clarity of vision, is miles ahead from where the most people are at.
        </p>
        <p>
          So there you have it. The idea of this website is to document my journey on getting job free in just a bit under four years.
        </p>
        <p>
          And just for the sake of clarity of my goal, “getting job free” means I will not have to work in order to sustain my current lifestyle. The idea is that, rather than having to work 9-to-5, I’ll be able to choose whether I want/need to do it. Rather than
          being worried about circumstances that I cannot control affecting my well-being, I’ll be able to relax, knowing that no matter what, I could always fall back to managing my income streams.
        </p>
        <p>
          In my current situation, the goal of getting job free in a bit under four years is quite realistic. Right now, I’m replacing about 15% of my regular salary with my income streams. To achieve my goal in the next 40 months, I need to grow the combined income
          from all my income streams by about 2% of my salary, each month.
        </p>
        <p>
          So, what’s in it for you in this journey? Well, I’d like you to follow it. The value you will get from this website is immense: You will get to see, first hand, how I’ll go about doing this. Plus, I’ll share with you the strategies I used in the last
          several years, to slowly build up my income streams, from the initial idea, to real, tangible results. This is in no way a get-rich-quick system. But if you follow my lead, I promise you will be able to do what I did in a lot less time, simply
          because you will not have to repeat my errors. Instead, you can, if you'd like, only repeat my successes.
        </p>
        <p>
          I invite you follow me on this journey.
          <h2 class="start-here">
            The Takeaway
          </h2>
          <p><strong>Long story short:</strong></p>
          <ul>
            <li>Most people are not happy with their jobs </li>
            <li>The reason: lack of control over whether they’ll still have their job tomorrow </li>
            <li>Is there a non-drastic solution? Sure, slowly build income streams </li>
            <li>How to build these income streams? Don’t rush it; give it time. The more time you give it, the experience will be more pleasant for you </li>
            <li>Enjoy the journey, knowing you’re way ahead of most people</li>
            <li>Copy things from JobFreeJourney.com and you will succeed</li>
          </ul>
        </p>
        <p>
          Ok, so how to actually put this in practice? It's quite simple really, and you can start right now. <a href="/guides/build-your-first-income-stream-today">This post explains in-depth what to do and how to do it</a>.
        </p>

    </div><!-- .col-12.col-md-8 -->
    <!-- posts' list -->

    {% include sitewide-sidebar.html %}
    <!-- sidebar -->
  </div>
  <!-- row -->
</div>
<!-- container -->

<!-- Footer -->
{% include footer.html %}
