<nav class="navbar navbar-fixed-top navbar-expand-lg navbar-light" role="navigation">
    <div class="container">	
    	<div class="d-flex flex-column">
			<a class="navbar-brand" href="{{site.url}}">JobFreeJourney</a>
			<small class="text-secondary">
				Build Income Streams <em>while</em> working 9-to-5
			</small>
		</div>
            <button class="navbar-toggler"  type="button"  data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
				<li class="nav-item mr-4">
					<a class="nav-link" href="/guides" title="Post Category: Guides">Guides</a>
				</li>
				<li class="nav-item mr-4">
					<a class="nav-link" href="/mindset" title="Post Category: Mindset">Mindset</a>
				</li>
				<li class="nav-item mr-4">
					<a class="nav-link" href="/income" title="Post Category: Income">Income</a>
				</li>
				<li class="nav-item mr-4">
					<a class="nav-link" href="/goals" title="Post Category: Goals">Goals</a>
				</li>
				<li class="nav-item">
					<a class="nav-link mr-4" href="/resources" title="Resources">Resources</a>
				</li>
				<li class="nav-item">
					<a class="nav-link btn btn-light text-primary" id="start-here" href="/start-here" title="Start here">Start Here</a>
				</li>

        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>