<div class="container-fluid pb-3 bg-success text-white">
	<div class="container">
		<div class="cta-mail">
		    <div class="row text-center">
		    	<div class="col"></div>
		    	<div class="col-12 col-md-8 text-center">
			        <h2 class="pt-3 pb-1">Want more Bootstrap themes &amp; templates?</h2>
			        
			        <div id="mc_embed_signup">
			            <form role="form" action="//bootstrapbase.us13.list-manage.com/subscribe/post?u=c0dd4d0ebdd0685caf0f1822b&amp;id=78807eb206" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank" novalidate="">
			                <div class="input-group input-group-lg">
			                    <input type="email" name="EMAIL" class="form-control" id="mce-EMAIL" placeholder="Your Email address...">
			                    <span class="input-group-btn">
			                        <button type="submit" name="subscribe" id="mc-embedded-subscribe" class="btn btn-primary">Subscribe!</button>
			                    </span>
			                </div>
			                <div id="mce-responses">
			                    <div class="response" id="mce-error-response" style="display:none"></div>
			                    <div class="response" id="mce-success-response" style="display:none"></div>
			                </div>
			            </form>
			        </div>
		        <p class="lead mt-3">Subscribe to our mailing list to receive an update when new items arrive!</h4></div>
		        <!-- End MailChimp Signup Form -->
		        <div class="col"></div>
		    </div><!-- row text-center -->
		</div><!-- cta-mail -->
	</div><!-- container -->
</div><!-- container-fluid -->