<div class="container-fluid bg-light-gray">

	<div class="container">
		<div class="row pt-5 align-items-center">
			<div class="col-lg-8 mb-4">
				<h1 class="h1 mb-4">Welcome to JobFreeJourney.com</h1>
					<p>JobFreeJourney is a resource aimed at helping you build income streams <em>while</em> working 9-to-5. To get started building your first online income stream today,  please check out <a href="https://www.udemy.com/build-your-first-online-income-stream-today/" target="_blank">our free course on building your first online income stream today</a>.</p>
			</div><!-- col-lg-8 -->
			<div class="mb-5 d-flex justify-content-center justify-content-lg-end col-lg-4">
				{% include ad.html %}
			</div><!-- col-lg-4 -->
		</div><!-- row -->
	</div><!-- container -->

</div><!-- fluid container -->