---
layout: default-blog
---
<div class="container-fluid">  
  <div class="container mt-5">
    <div class="row">
      <div class="col-sm-7">
        <article class="post">
        
          <header class="post-header">
            <h1 class="post-title mt-3 text-secondary mb-3">{{ page.title }}</h1>
          </header>
          
          <img class="img-fluid pb-3" src="{{ page.image | prepend: site.baseurl }}" alt="{{ page.title }}" title="{{ page.title }}">
        
          <div class="post-content">
            {{ content }}
          </div>
        
        </article>
      </div><!-- col lg 8 -->
      
      <div class="col-sm-1"></div>
      
      <div class="col-sm-4">
        <div style="margin:20px auto !important">
      		{% include ad.html %}
    		</div>
        <div class="">
      		{% include ad.html %}
    		</div>
      </div><!-- col lg 4 -->
    </div><!-- row -->
  </div>
</div>

<div class="container-fluid">
  <div class="container mt-5">
    <div class="row">
      <dic class="col-12">
        {% if page.comments %}
          {% include disqus.html %}
        {% endif %}
      </dic>
    </div>
  </div>
</div>

<!-- Footer -->
{% include footer.html %}
